.choices {
    position:relative;
    width:400px;
}

.choice {
    width:400px;
    position:relative;
}

.copy {
    position: relative;
    bottom: -5px;
    width: 25px;
    height: 25px;
}

.choiceName {
    position: relative;
    left: 10px;
    width: 150px;
 }

.moveUp {
    position: relative;
    bottom: -10px;
    left: 15px;
    width: 25px;
    height: 25px;
}

.moveDown {
    position: relative;
    bottom: -10px;
    left: 15px;
    width: 25px;
    height: 25px;

}

